<section>
<h1>this is question</h1>
<span >your points in this game are: {{point}}</span> 
<select #mod [value]='chois'>
    <option  *ngFor='let i of chois' [value]='i'>{{i}}</option>
</select>
<button (click)='hit(mod.value)'>choice</button>
<p *ngIf='showpik' (click)='rezult()'> 
<img *ngIf='carsData' size src={{carsData[randum].pik}} /> 
</p> 
<span class="gamerezult" *ngIf='gamerez' >{{gamerez}}</span>
<div *ngIf='!showpik'>this is: {{carsData[randum].model}}</div> 
<button class="reset" *ngIf='!showpik' (click)='next()' >new game</button> 
</section>  